body {
  font-family: "Inter", sans-serif;
  line-height: 0px;
}

/************************ NAVEGATION ************************/

#bannerNav {
  position: relative;
  width: 100%;
  height: 200px;
  background-color: black;
}
#navegation {
  display: flex;
  width: 100%;
  position: absolute;
}
#titlesNav {
  display: flex;
  align-items: center;
  width: 100%;
}

#navegation_list {
  display: flex;
  align-items: center;
  padding: 2%;
  margin: 2%;
  justify-content: space-between;
  width: 100%;
}

li a {
  font-size: 18px;
  font-weight: 800;
  color: rgb(242, 78, 30);
  text-decoration: none;
}
a:hover {
  color: aliceblue;
  text-decoration: none;
}
a {
  text-decoration: none;
}
#busca{
  width: 100%;
  font-size: 200%;
}

#hamburguer_menu{
  width: 40px;
  height: 25px;
}
#translation{
  width: 30px;
  height: 30px;
}
#location{
  width: 30px;
  height: 30px;
}
#sound{
  width: 30px;
  height: 30px;
}
#configuration{
  width: 30px;
  height: 30px;
}
/************************ MAIN ************************/

#divMapa {
  background-color: orange;
  width: 100%;
  height: max-content;
}
#mapa {
  width:100% ;
  height:650px;
  border:0 ;
}


html {
  scroll-behavior: smooth;
}




/************************ footer ************************/
#footer {
  background-color: black;
  width: 100%;
  height: max-content;
  margin-bottom: 0px;
  text-align: center;
  position: relative;
  display: flex;
}

#navegation_list_footer {
  display: flex;
  align-items: center;
  padding: 2%;
  justify-content: space-between;
  width: 100%;
}
